.videoSection {
  padding: 60px 20px;
  text-align: center;
}

.heading {
  font-size: 32px;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  margin-bottom: 30px;
}

.videoWrapper {
  display: flex;
  justify-content: center;
}

.video {
  width: 80%;
  max-width: 900px;
  height: auto;
  border-radius: 12px;
}
@media (max-width: 768px) {
  .heading {
    font-size: 24px;
  }

  .video {
    width: 100%;
  }
}